body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f3e3;
    margin: 0;
    padding: 0;
}

a {
    color: #f9f3e3;
    text-decoration: none;
}

a:visited {
    color: #f9f3e3;
}

.container h1 {
    font-size: 20px;
}

header {
    background: #5E412F;
    padding: 0 10px;
}

header h1 {
    margin-top: 0;
    padding-top: 20px;
}

.mynav > ul {
    margin: 0;  
    padding: 0 0 10px;
    display: flex;
    justify-content: start;
    overflow: scroll;
}

.mynav > ul > li {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    margin-left: 1px;
    background: #F0A830;

}

main {
    padding: 30px;
}

.container {
    width: 100%;
}
.container h3 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.canada {
    color: #ce4128;
}

footer {
    margin: 15px auto;
    text-align: center;
    color: #562f14;
}

/* welcome.blade.php */
.top > a {
    color: #333;
    padding: 20px;
    display: block;
}

/* home.blade.php */
.sub-container {
    width: 90%;
    display: flex;
    margin-top: 10px;
    border-bottom: dashed 1px gray;
}

.num {
    font-size: 30px;
    width: 20%;
    padding: 5px;
    text-align: center;
}

.num i {
    margin: 10px auto;
    color: #2763c1;
}

.num p {
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    color: #5e5b5c;
}

.mydate {
    width: 55%;
    /* padding: 10px; */
}

.aim {
    font-weight: 700;
    font-size: 22px;
    margin: 15px 0;
}

.p-day {
    margin: 0;
    font-size: 20px;
}

.isDone {
    width: 20%;
    text-align: center;
}

.isDone i {
    font-size: 40px;
    margin:10px 0 10px 15px;
}

/* post/index.blade.php */
.container > h1 {
    margin: 0;
} 

.container li {
    list-style: none;
}

/* word/index.blade.php */

.inline-container {
    display: flex;
    justify-content: space-between;
}

.inline-container > h1 {
    margin: 0;
}

.inline-container > a {
    line-height: 2.5;
    background: #78C0A8;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.container > ul {
    padding: 0;
    margin: 0 20px;
}

.container > ul > li {
    margin: 15px 0;
    border-bottom: solid 2px gray;
}

.container > ul > li > a {
    color: #333;
    font-size: 18px;
    display: block;
}

/* words/create.blade.php, edit.blade.php */
.word-create input, .edit-word input {
    display: block;
    margin: 10px auto 30px;
    width: 80%;
    height: 25px;
    font-size: 15px;
}

.word-create textarea, .edit-word textarea {
    display: block;
    width: 80%;
    height: 60px;
    margin: 10px auto;
    font-size: 15px;
}

.word-create .submit {
    background: #78C0A8;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
}

.btn {
    width: 85%;
    height: 35px;
    border-radius: 3px;
    display: block;
    font-size: 18px;
    margin: 10px auto;
    color: #f9f3e3;
}

.btn a {
    display: block;
}

/* words/show.blade.php */
.show-word p::before {
    color: gray;
    display: block;
    font-size: 14px;
    margin-left: -15px;
}

.show-word .word::before {
    content: 'Word';
}

.show-word .meaning::before {
    content: 'Meaning';
}

.show-word .example::before {
    content: 'Example';
}

.show-word p {
    font-size: 20px;
    padding-left: 20px;
}

.return {
    background: #78C0A8;
}

.edit {
    background: #9cc48e; 
}

.delete {
    background: #f58011;
    color: #f9f3e3;
}

/* words/edit.blade.php */
.edit-word {

}

.update {
    background: #9cc48e;
    margin-top: 20px; 
}